body(style="display:flex; justify-content:center; align-items:center;")

    form(action="/new" method="POST" style="display:flex; flex-direction:column; gap:10px; width:300px;  max-width:500px")
        input(type="text" name="username" placeholder="Username" required style="height:30px; font-size:1.1rem")
        input(type="text" name="text" placeholder="message" required style="height:30px ;font-size:1.1rem")
        button(type="submit" style="width:max-content; margin:auto; font-size:1.2rem") Create

